*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: #5372f0;
}

section {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    
}